<section id="why-choose-891">
  <div class="cs-container">
    <div class="cs-content">
      {# <span class="cs-topper">WHY CHOOSE US</span> #}
      <h2 class="about-text">
        Starting at <span class="secondary-text">$99</span> Per Month
      </h2>
      <p class="cs-text2">
        Transform your online presence with our unbeatable offer: $0 down for a
        standard 5-page small business website.
      </p>
    </div>

    <a href="/contact" class="cs-button-solid">Get Started</a>
  </div>
</section>
