---
title: "About us"
description: "About page for the agency"
preloadImg: "/assets/images/comp.jpg"
permalink: "about/"
eleventyNavigation:
  key: ABOUT US
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source media="(max-width: 600px)" srcset="/assets/images/about1.jpg" />
        <source media="(min-width: 601px)" srcset="/assets/images/about1.jpg" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/about1.jpg"
          alt="computer"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">
        Giving <span class="secondary-text">Small Businesses</span> The Big
        Business Treatment
      </h2>
      <p class="cs-text">
        At UMBIA Media, we're dedicated to revolutionizing the way small
        businesses approach their online presence. Recognizing the challenges
        faced by many in
        <span class="primary-text"
          >establishing a PROFESSIONAL digital footprint</span
        >, our team of engineers set out to provide a solution. Traditional
        options often proved costly and outdated, leaving businesses frustrated
        and unable to compete effectively in the digital arena.
      </p>
      <p class="cs-text">
        In response to this, we introduced our innovative $0 down and $99 a
        month deal, removing financial barriers and offering modern, affordable
        websites tailored specifically for small businesses. Our streamlined
        process ensures each website reflects the unique identity and goals of
        the business,
        <span class="primary-text"
          >setting them apart from the competition.</span
        >
      </p>
      <p class="cs-text">
        UMBIA Media is more than just a web development company; we're a team of
        creative minds and technical experts committed to empowering businesses
        to thrive in the digital age. Our mission is simple yet profound: to
        deliver cutting-edge digital solutions that
        <span class="primary-text"
          >drive growth, engagement, and success for our clients.</span
        >
        Through collaboration, creativity, and a dedication to excellence, we
        strive to exceed expectations and help businesses achieve their full
        potential online.
      </p>
      <a href="/portfolio" class="cs-button-solid">Our Work</a>
    </div>
  </div>
</section>

<section id="why-choose-891">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">WHY CHOOSE US</span>
      <h2 class="about-text">
        Starting at <span class="secondary-text">$99</span> Per Month
      </h2>
      <p class="cs-text2">
        Transform your online presence with our unbeatable offer: $0 down for a
        standard 5-page small business website. Need more? Let's discuss custom
        pricing tailored to your unique needs, ensuring maximum impact and
        value.
      </p>
    </div>

    <a href="/contact" class="cs-button-solid">Get Started</a>
  </div>
</section>

<section id="contact-1389">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Get in Touch</h2>
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg"
              alt="phone icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Phone</span>
            <a
              href="tel:888-4565-789
                        "
              class="cs-link"
              >+1 (604) 763 2030
            </a>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg"
              alt="address icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Email</span>
            <a href="mailto:Email@stitch.com" class="cs-link"
              >contact@umbia.ca</a
            >
          </div>
        </li>
      </ul>
    </div>

    <!--Form-->
    <form
      class="cs-form"
      id="cs-form-1389"
      name="Contact Form"
      action="https://formsubmit.co/2bcb37cec90c397015adec8eebabece9"
      method="POST"
    >
      <input type="text" name="_honey" style="display: none" />
      <input type="hidden" name="_captcha" value="false" />
      <input type="hidden" name="_next" value="https://umbia.ca/success" />
      <label class="cs-label">
        <input
          class="cs-input"
          required
          type="text"
          id="name-1389"
          name="name"
          placeholder="Your Name"
        />
      </label>
      <label class="cs-label cs-email">
        <input
          class="cs-input"
          required
          type="email"
          id="email-1389"
          name="email"
          placeholder="Your Email Address"
        />
      </label>
      <label class="cs-label cs-phone">
        <input
          class="cs-input"
          required
          type="number"
          id="phone-1389"
          name="phone"
          placeholder="Your Phone Number"
        />
      </label>
      <label class="cs-label">
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1389"
          placeholder="Type your Message Here ..."
        ></textarea>
      </label>
      <button class="cs-button-solid cs-submit" type="submit">Submit</button>
    </form>
  </div>
</section>

{% endblock %}
