/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1389 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
    margin-top: 5rem;
  }
  #contact-1389 .cs-container {
    margin-top: 3rem;
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    column-gap: auto;
    /* 48px - 64px */
    gap: clamp(2rem, 3vw, 3rem);
    position: relative;
  }
  #contact-1389 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #contact-1389 .cs-title {
    max-width: 23ch;
  }
  #contact-1389 .cs-text {
    margin-bottom: 1rem;
  }
  #contact-1389 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1389 .cs-ul {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }
  #contact-1389 .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #contact-1389 .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.1);
  }
  #contact-1389 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    display: block;
  }
  #contact-1389 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
    display: block;
    position: relative;
  }
  #contact-1389 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-1389 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    transition: transform 0.3s;
  }
  #contact-1389 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #contact-1389 .cs-form {
    width: 100%;
    max-width: 39.375rem;
    padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1389 .cs-h3 {
    /* 20px - 39px */
    font-size: clamp(1.25rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
  }
  #contact-1389 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1389 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    border: none;
    box-sizing: border-box;
  }
  #contact-1389 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-1389 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-1389 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #contact-1389 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1389 .cs-button-solid:hover {
    color: var(--primary);
  }
  #contact-1389 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1389 .cs-submit {
    width: 100%;
    min-width: 12.5rem;
    border: none;
  }
  #contact-1389 .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1389 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact-1389 .cs-content {
    width: 47%;
    flex: none;
    order: 2;
  }
  #contact-1389 .cs-submit {
    width: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1389 .cs-form {
    width: 46%;
    max-width: 36.125rem;
  }
  #contact-1389 .cs-submit {
    width: auto;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1389 .cs-graphic {
    display: block;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #faq .cs-container {
    width: 100%;
    /* chnages to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #faq .cs-title {
    margin: 0;
  }
  #faq .cs-faq-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  #faq .cs-faq-item {
    list-style: none;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0;
    box-sizing: border-box;
    transition: border-bottom 0.3s;
  }
  #faq .cs-faq-item.active {
    background-color: #1a1a1a;
  }
  #faq .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq .cs-faq-item.active .cs-button:before {
    background-color: var(--primary);
    transform: rotate(315deg);
  }
  #faq .cs-faq-item.active .cs-button:after {
    background-color: var(--primary);
    transform: rotate(-315deg);
  }
  #faq .cs-faq-item.active .cs-number {
    background-color: #1a1a1a;
    color: var(--primary);
  }
  #faq .cs-faq-item.active .cs-number:before {
    height: 100%;
    opacity: 0.3;
  }
  #faq .cs-faq-item.active .cs-number:after {
    width: 100vw;
    opacity: 0.3;
  }
  #faq .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 16px - 24px */
    padding-top: clamp(1rem, 2.5vw, 1.5rem);
    padding-bottom: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #faq .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding: 0 2.5rem 0 0;
    border: none;
    background: transparent;
    color: var(--headerColor);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq .cs-button:hover {
    cursor: pointer;
  }
  #faq .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 1.1875rem;
    transform: rotate(45deg);
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 1rem;
    transform: rotate(-45deg);
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq .cs-number {
    font-size: 1.25rem;
    line-height: 1.5em;
    /* 52px - 72px */
    width: clamp(3.25rem, 6vw, 4.5rem);
    color: var(--headerColor);
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;
    transition: background-color 0.3s;
  }
  #faq .cs-number:before {
    content: "";
    width: 1px;
    height: 0;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: -1px;
    right: 0;
    transition: opacity 0.3s, height 0.6s;
    transition-delay: 0.1s;
  }
  #faq .cs-number:after {
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s, width 1s;
  }
  #faq .cs-button-text {
    width: 90%;
    /* 16px - 24px */
    padding: clamp(1rem, 2.5vw, 1.5rem) 0;
    display: block;
  }
  #faq .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    max-width: 33.8125rem;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2.5vw, 1.5rem);
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
  }
  #faq .cs-floater {
    display: none;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #faq .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #faq .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #faq .cs-faq-group {
    width: 56%;
    flex: none;
  }
  #faq .cs-floater {
    width: 55%;
    max-width: 42.8125rem;
    margin-right: 10.625rem;
    display: block;
    position: absolute;
    top: clamp(30%, 26vw, 40%);
    right: 50%;
    z-index: -1;
  }
}


/*# sourceMappingURL=contact.css.map */
