---
title: "Umbia Media | Web Agency | Vancouver, BC"
description: "Web agency"
preloadImg: "/assets/images/logo.png"
permalink: "/"
eleventyNavigation:
  key: HOME
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<section id="hero-358">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Professional</span>
      <h1 class="cs-title">
        <span class="primary-text">Web</span> Design
        <span class="secondary-text">+</span> Development
      </h1>
      <p class="cs-text">
        Crafted for excellence: Our hand-coded websites start at $99/month or
        $999. No page builders, no WordPress –
        <span class="primary-text text-bold">just exceptional quality.</span>
      </p>
      <div class="cs-button-group">
        <a href="/contact" class="cs-button-solid">GET IN TOUCH!</a>
        <a href="" class="cs-button-transparent">
          <picture class="cs-picture">
            <img
              class="cs-img"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Hero/phone-white.svg"
              alt="icon"
              width="24"
              height="24"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-content">
            <span class="cs-tag">Call Anytime</span>
            <span class="cs-number">(604) 763 2030</span>
          </div>
        </a>
      </div>
    </div>
    <div class="cs-image-group">
      <img
        class="cs-splash"
        decoding="async"
        src="/assets/images/splash.png"
        alt="icon"
        width="792"
        height="616"
        aria-hidden="true"
      />

      <picture class="cs-person">
        <source
          media="(max-width: 600px)"
          srcset="
            https://d33wubrfki0l68.cloudfront.net/81ff3b9ad31c44ae1e5d3af2f0d6364d60edee85/2f15f/images/mock-up-replace.png
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://d33wubrfki0l68.cloudfront.net/81ff3b9ad31c44ae1e5d3af2f0d6364d60edee85/2f15f/images/mock-up-replace.png
          "
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/maid.png"
          alt="maid"
          width="831"
          height="674"
        />
      </picture>
    </div>
  </div>
</section>
<div id="cs-content-831">
  <span class="cs-topper">WHAT WE DO</span>
  <p class="cs-text">
    At UMBIA Media, we specialize in crafting bespoke web solutions tailored for
    small businesses across Canada. Our commitment to excellence means every
    line of code is meticulously hand-written, ensuring optimal performance that
    attracts more customers to your site and drives revenue growth for your
    business. Let us transform your online presence into a powerful asset that
    sets you apart from the competition.
  </p>
</div>

<section id="services-1557">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/coding.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Website Design and Development</h3>
          <p class="cs-item-text">
            Craft visually stunning websites with seamless functionality to
            captivate your audience and elevate your brand presence online.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/illustration.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Graphic Design and Branding</h3>
          <p class="cs-item-text">
            Create a lasting impression with captivating visual identities that
            reflect your brand's essence and leave a memorable impact on your
            audience.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/seo.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Search Engine Optimization (SEO)</h3>
          <p class="cs-item-text">
            Propel your website to the top of search engine rankings and boost
            visibility with strategic SEO tactics.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="services-1557">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/mobile.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Social Media Marketing</h3>
          <p class="cs-item-text">
            Engage and connect with your audience on a deeper level through
            targeted social media strategies that drive meaningful interactions
            and conversions.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/video.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Content Creation and Marketing</h3>
          <p class="cs-item-text">
            Tell your brand story effectively with compelling content that
            resonates with your audience and drives engagement and loyalty.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/ecommerce.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">E-commerce Solutions</h3>
          <p class="cs-item-text">
            Unlock limitless potential with tailored e-commerce platforms,
            empowering your business to thrive in the digital marketplace.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="steps-1661">
  <div class="cs-container">
    <div class="cs-content">
      {# <span class="cs-topper"></span> #}
      <h2 class="cs-title">Quality Over Quantity</h2>
      <p class="cs-item-text">
        At UMBIA Media, we prioritize quality over quantity, taking the time to
        truly understand each business and craft content that perfectly
        encapsulates its essence. Our hands-on approach ensures that we work
        closely with you every step of the way, collaborating to create a
        website that leaves a lasting impression.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <span class="cs-number secondary-text">01</span>
        <h3 class="cs-h3">No Pre-Written Content</h3>
        <p class="cs-item-text">
          We believe in originality and authenticity. That's why we never use
          pre-written content. Instead, we take the time to write unique and
          engaging content that showcases the uniqueness of your company.
        </p>
      </li>
      <li class="cs-item">
        <span class="cs-number secondary-text">02</span>
        <h3 class="cs-h3">Unbeatable Customer Service</h3>
        <p class="cs-item-text">
          Forget automated systems and endless wait times. When you need
          assistance, you'll be speaking directly to our lead developer. Our
          commitment to exceptional customer service means that we're always
          here to address your concerns and provide personalized support.
        </p>
      </li>
      <li class="cs-item">
        <span class="cs-number secondary-text">03</span>
        <h3 class="cs-h3">No Limits On Design</h3>
        <p class="cs-item-text">
          Your vision is our priority. We understand that every business has its
          own unique style and preferences, which is why we offer unlimited
          design options. From colors to layouts, everything is customizable to
          ensure that your website perfectly reflects your brand identity.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-244">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Pricing</span>
      <h2 class="cs-title">
        Discover Your <span class="primary-text">Perfect </span
        ><span class="secondary-text"> Plan</span>
      </h2>
      <p class="cs-text">
        From budding entrepreneurs to established businesses, our web
        development plans cater to all. Select the ideal fit for your needs, and
        don't hesitate to reach out with any inquiries. We're eager to connect
        with you and bring your vision to life!
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Option 1 -->
      <li class="cs-item">
        <h3 class="cs-h3">Business Essentials Included</h3>
        <p class="cs-item-text">
          Unlock essential tools for your success, complimentary with every
          service.
        </p>
        <span class="cs-price cs-option1-text">$0</span>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
        <span class="cs-included">What's included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Logo Design
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Content Creation
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Graphic Design
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Designing Consultation
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Social Media Integration
          </li>
        </ul>
      </li>
      <!-- Option 2 -->
      <li class="cs-item cs-popular">
        <h3 class="cs-h3">Website Solution</h3>
        <p class="cs-item-text">
          Elevate Your Business with a Dynamic Website Solution!
        </p>
        <span class="cs-price cs-option1-text">From $99/mo</span>
        <a href="/contact" class="cs-button-solid2">Contact Us</a>
        <span class="cs-included">What's included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            5 pages
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Hosting, Security & Backups
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Mobile Responsive
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Contact Form
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Custom Domain Included
          </li>
        </ul>
      </li>
      <!-- Option 3 -->
      <li class="cs-item">
        <h3 class="cs-h3">Digital Dominance</h3>
        <p class="cs-item-text">
          Ideal for businesses aiming for accelerated growth with one time cost.
        </p>
        <span class="cs-price cs-option1-text">From $999</span>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
        <span class="cs-included">What's included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Complimentary Domain (First Year)
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Free Essential Hosting (First Year)
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            30-Day Window for Updates
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Basic Content Provision
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Free SSL
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

{# {% include 'components/cta.html' %} #} {% endblock %}
