---
title: "Umbia Media | Web Agency | Vancouver, BC"
description: "Web agency"
preloadImg: "/assets/images/logo.png"
permalink: "/"
eleventyNavigation:
  key: HOME
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<section id="hero-358">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Professional</span>
      <h1 class="cs-title">Web Design + Development</h1>
      <p class="cs-text">
        Crafted for excellence: Our hand-coded websites start at $99/month or
        $999 upfront. No page builders, no WordPress – just exceptional quality.
      </p>
      <div class="cs-button-group">
        <a href="/contact" class="cs-button-solid">GET IN TOUCH!</a>
        <a href="" class="cs-button-transparent">
          <picture class="cs-picture">
            <img
              class="cs-img"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Hero/phone-white.svg"
              alt="icon"
              width="24"
              height="24"
              aria-hidden="true"
            />
          </picture>
          <div class="cs-content">
            <span class="cs-tag">Call Anytime</span>
            <span class="cs-number">(604) 763 2030</span>
          </div>
        </a>
      </div>
    </div>
    <div class="cs-image-group">
      <img
        class="cs-splash"
        decoding="async"
        src="/assets/images/splash.png"
        alt="icon"
        width="792"
        height="616"
        aria-hidden="true"
      />

      <picture class="cs-person">
        <source
          media="(max-width: 600px)"
          srcset="
            https://d33wubrfki0l68.cloudfront.net/81ff3b9ad31c44ae1e5d3af2f0d6364d60edee85/2f15f/images/mock-up-replace.png
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://d33wubrfki0l68.cloudfront.net/81ff3b9ad31c44ae1e5d3af2f0d6364d60edee85/2f15f/images/mock-up-replace.png
          "
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/maid.png"
          alt="maid"
          width="831"
          height="674"
        />
      </picture>
    </div>
  </div>
</section>
<div id="cs-content-831">
  <span class="cs-topper">WHAT WE DO</span>
  <p class="cs-text">
    At UMBIA Media, we specialize in crafting bespoke web solutions tailored for
    small businesses across Canada. Our commitment to excellence means every
    line of code is meticulously hand-written, ensuring optimal performance that
    attracts more customers to your site and drives revenue growth for your
    business. Let us transform your online presence into a powerful asset that
    sets you apart from the competition.
  </p>
</div>

<section id="services-1557">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/coding.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Website Design and Development</h3>
          <p class="cs-item-text">
            Craft visually stunning websites with seamless functionality to
            captivate your audience and elevate your brand presence online.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/illustration.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Graphic Design and Branding</h3>
          <p class="cs-item-text">
            Create a lasting impression with captivating visual identities that
            reflect your brand's essence and leave a memorable impact on your
            audience.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/seo.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Search Engine Optimization (SEO)</h3>
          <p class="cs-item-text">
            Propel your website to the top of search engine rankings and boost
            visibility with strategic SEO tactics.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="services-1557">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/mobile.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Social Media Marketing</h3>
          <p class="cs-item-text">
            Engage and connect with your audience on a deeper level through
            targeted social media strategies that drive meaningful interactions
            and conversions.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/video.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">Content Creation and Marketing</h3>
          <p class="cs-item-text">
            Tell your brand story effectively with compelling content that
            resonates with your audience and drives engagement and loyalty.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <img
            class="cs-icon"
            src="/assets/images/ecommerce.png"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="33"
            height="38"
            aria-hidden="true"
          />
        </picture>
        <!-- Text Grouped For Flexbox-->
        <div class="cs-text-group">
          <h3 class="cs-h3">E-commerce Solutions</h3>
          <p class="cs-item-text">
            Unlock limitless potential with tailored e-commerce platforms,
            empowering your business to thrive in the digital marketplace.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="services-1646">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">Starting at $99 Per Month</h2>
      {#
      <h2 class="cs-title">Or Starting at $500</h2>
      #}
      <p class="cs-text">
        $0 down for a standard 5 page small business website. If you need more
        than that then we have to do custom pricing based on the scope of work,
        number of additional pages, and time involved.
      </p>
      <a href="/contact" class="cs-button-solid">Get Started</a>
    </div>
    <ul id="list-1597" class="cs-card-group">
      <li class="cs-item">
        <div class="wrapper">
          <span class="cs-item-number">-</span>
          <h3 class="cs-h3">Hosting Fees Included</h3>
        </div>
        <p class="cs-item-text">
          Hosting fees are built right into the monthly payment.
        </p>
      </li>
      <li class="cs-item">
        <div class="wrapper">
          <span class="cs-item-number">-</span>
          <h3 class="cs-h3">Unlimited Edits</h3>
        </div>
        <p class="cs-item-text">
          Change anything you want at anytime and it will be done that day.
        </p>
      </li>
      <li class="cs-item">
        <div class="wrapper">
          <span class="cs-item-number">-</span>
          <h3 class="cs-h3">24/7 Customer Service</h3>
        </div>
        <p class="cs-item-text">
          Call direct anytime day or night, no phone trees or automated
          responses.
        </p>
      </li>
      <li class="cs-item">
        <div class="wrapper">
          <span class="cs-item-number">-</span>
          <h3 class="cs-h3">Web Design & Development</h3>
        </div>
        <p class="cs-item-text">
          Includes over 40 hours of design, development, and testing.
        </p>
      </li>
    </ul>
  </div>
</section>

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Portfolio</span>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png"
            alt="computer"
            width="413"
            height="240"
            aria-hidden="true"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Real Estate</h3>
          <p class="cs-item-text">
            nasbdkjbaljwsbdadnkl aswdj aklnsdlk asdn aklsndklnawsdkl aLJKWS
          </p>
          <a href="" class="cs-link">
            Read More
            <img
              class="cs-arrow"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
              alt="icon"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </a>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png"
            alt="computer"
            width="413"
            height="240"
            aria-hidden="true"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Immigration Service</h3>
          <p class="cs-item-text">
            akjwsbdkjawkdj ahdjawjkdhklad awjdajlwdjajhdjl.a
          </p>
          <a href="" class="cs-link">
            Read More
            <img
              class="cs-arrow"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
              alt="icon"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </a>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://media.gcflearnfree.org/content/5588514bf07fac61f8440cf9_06_22_2015/keyboardandmouse_handsonkeyboard.png"
            alt="computer"
            width="413"
            height="240"
            aria-hidden="true"
          />
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Home Renovations</h3>
          <p class="cs-item-text">
            ljaSHDKJAJHWSD haJWSHDjl asJdaLDJKLaSJKLHdjl hajlHSWDljhALJDS
          </p>
          <a href="" class="cs-link">
            Read More
            <img
              class="cs-arrow"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
              alt="icon"
              width="20"
              height="20"
              aria-hidden="true"
            />
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-357">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Pricing</span>
      <h2 class="cs-title">It’s Easy to Get Started</h2>
      <p class="cs-text">
        At Stitch Cleaning Service, let us help you solve problems so that you
        can focus on your mission. We support businesses through periods of
        expansion, succession.
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Option 1 -->
      <li class="cs-item">
        <h3 class="cs-h3">Starter</h3>
        <p class="cs-item-text">Perfect to get started.</p>
        <div class="cs-option-group">
          <span class="cs-price">$39<span class="cs-small">/month</span></span>
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            All available starter feature
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Home service 24/7
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Customer agent service
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Professional cleaner
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed room cleaning
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed, living room cleaning
          </li>
        </ul>
        <a href="/basic.html" class="cs-button-solid">Get Started</a>
      </li>
      <!-- Option 2 -->
      <li class="cs-item cs-popular">
        <h3 class="cs-h3">Starter</h3>
        <p class="cs-item-text">Perfect to get started.</p>
        <div class="cs-option-group">
          <span class="cs-price">$69<span class="cs-small">/month</span></span>
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            All available starter feature
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Home service 24/7
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Customer agent service
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Professional cleaner
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed room cleaning
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed, living room cleaning
          </li>
        </ul>
        <a href="/basic.html" class="cs-button-solid">Get Started</a>
      </li>
      <!-- Option 3 -->
      <li class="cs-item">
        <h3 class="cs-h3">Starter</h3>
        <p class="cs-item-text">Perfect to get started.</p>
        <div class="cs-option-group">
          <span class="cs-price">$99<span class="cs-small">/month</span></span>
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            All available starter feature
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Home service 24/7
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Customer agent service
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            Professional cleaner
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed room cleaning
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
              alt="code stitch icon"
              width="20"
              height="20"
            />
            2 bed, living room cleaning
          </li>
        </ul>
        <a href="/basic.html" class="cs-button-solid">Get Started</a>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
