/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: var(--sectionPadding);
    margin-top: 4rem;
  }
  #sbs .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    font-size: min(2.31vw, 0.7em);
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #sbs .cs-picture {
    border-radius: 1.5em;
    display: block;
    position: absolute;
    overflow: hidden;
  }
  #sbs .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    top: 0;
    left: 0;
    margin-left: 2rem;
  }
  #sbs .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    right: 0;
    bottom: 0;
  }
  #sbs .cs-right {
    max-width: 33.875rem;
    margin: auto;
  }
  #sbs .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
  }
  #sbs .cs-title {
    text-align: left;
    max-width: 50rem;
  }
  #sbs .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #353535;
  }
  #sbs .cs-name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
    display: block;
  }
  #sbs .cs-quote-icon {
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    right: clamp(1rem, 4vw, 2rem);
    bottom: 0rem;
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  #contact-1389 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
  }
  #contact-1389 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    column-gap: auto;
    gap: clamp(2rem, 3vw, 3rem);
    position: relative;
  }
  #contact-1389 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #contact-1389 .cs-title {
    max-width: 23ch;
  }
  #contact-1389 .cs-text {
    margin-bottom: 1rem;
  }
  #contact-1389 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1389 .cs-ul {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }
  #contact-1389 .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #contact-1389 .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.1);
  }
  #contact-1389 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    display: block;
  }
  #contact-1389 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
    display: block;
    position: relative;
  }
  #contact-1389 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-1389 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    transition: transform 0.3s;
  }
  #contact-1389 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #contact-1389 .cs-form {
    width: 100%;
    max-width: 39.375rem;
    padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1389 .cs-h3 {
    font-size: clamp(1.25rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
  }
  #contact-1389 .cs-label {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1389 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    border: none;
    box-sizing: border-box;
  }
  #contact-1389 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-1389 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-1389 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primaryLight);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #contact-1389 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--primary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1389 .cs-button-solid:hover {
    color: var(--primaryLight);
  }
  #contact-1389 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1389 .cs-submit {
    width: 100%;
    min-width: 12.5rem;
    border: none;
  }
  #contact-1389 .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1389 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact-1389 .cs-content {
    width: 47%;
    flex: none;
    order: 2;
  }
  #contact-1389 .cs-submit {
    width: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1389 .cs-form {
    width: 46%;
    max-width: 36.125rem;
  }
  #contact-1389 .cs-submit {
    width: auto;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1389 .cs-graphic {
    display: block;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-1447, #RTsbsr-1447, #RTsbst-1447 {
    padding: var(--sectionPadding);
    overflow: hidden;
    margin-top: 3rem;
  }
  #RTsbs-1447 .cs-container, #RTsbsr-1447 .cs-container, #RTsbst-1447 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #RTsbs-1447 .cs-content, #RTsbsr-1447 .cs-content, #RTsbst-1447 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-1447 .cs-text, #RTsbsr-1447 .cs-text, #RTsbst-1447 .cs-text {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    margin-bottom: 1rem;
  }
  #RTsbs-1447 .cs-text:last-of-type, #RTsbsr-1447 .cs-text:last-of-type, #RTsbst-1447 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-1447 .cs-card-group, #RTsbsr-1447 .cs-card-group, #RTsbst-1447 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #RTsbs-1447 .cs-li, #RTsbsr-1447 .cs-li, #RTsbst-1447 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #RTsbs-1447 .cs-li-picture, #RTsbsr-1447 .cs-li-picture, #RTsbst-1447 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #RTsbs-1447 .cs-li-picture:before, #RTsbsr-1447 .cs-li-picture:before, #RTsbst-1447 .cs-li-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #RTsbs-1447 .cs-li-icon, #RTsbsr-1447 .cs-li-icon, #RTsbst-1447 .cs-li-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #RTsbs-1447 .cs-h3, #RTsbsr-1447 .cs-h3, #RTsbst-1447 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #RTsbs-1447 .cs-li-text, #RTsbsr-1447 .cs-li-text, #RTsbst-1447 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #RTsbs-1447 .cs-picture, #RTsbsr-1447 .cs-picture, #RTsbst-1447 .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    min-height: 22.625rem;
    border-radius: 1.5rem;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #RTsbs-1447 .cs-picture img, #RTsbsr-1447 .cs-picture img, #RTsbst-1447 .cs-picture img {
    margin-top: 7rem;
    width: 100%;
    height: 70%;
    /* display: block;
    position: absolute; */
    top: 0;
    left: 0;
    /* object-fit: cover; */
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbs-1447 .cs-container, #RTsbsr-1447 .cs-container, #RTsbst-1447 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }
  #RTsbs-1447 .cs-content, #RTsbsr-1447 .cs-content, #RTsbst-1447 .cs-content {
    width: 50%;
    padding: 2.5rem 0;
  }
  #RTsbs-1447 .cs-picture, #RTsbsr-1447 .cs-picture, #RTsbst-1447 .cs-picture {
    height: auto;
    width: 55%;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-1447 {
    background-color: #f7f7f7;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbsr-1447 .cs-picture {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #list-1405 {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #list-1405 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #list-1405 .cs-icon {
    width: 1.5rem;
    height: auto;
    margin-top: 1px;
    display: block;
  }
}

/*-- -------------------------- -->
<---       Content Group        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-content-1792 {
    padding: 2rem 2rem 2rem 2rem;
      width: 100%;
      max-width: calc(1280/16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6.5vw, 4rem);

      .cs-content {
          /* set text align to center if content needs to be center aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }
      
      .cs-flex-wrapper {
          max-width: calc(600/16 * 1rem);
          /* lets the div's contents act as though it doesn't exist and can be children of the next surrounding parent div, in this case the cs-content. That way we can place the button under the cs-wrapper on mobile, but bring it back under the header on tablet */
          display: contents;
      }

      .cs-title {
          margin: 0;
          /* 16px - 32px */
          margin-bottom: clamp(1rem, 3vw, 2rem);
      }

      .cs-wrapper {
          max-width: calc(632/16 * 1rem);
      }

      .cs-text {
          margin: 0 0 calc(32/16 * 1rem) 0;
      }

      .cs-button-solid {
          font-size: calc(16/16 * 1rem);
          font-weight: 700;
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-align: center;
          text-decoration: none;
          min-width: calc(150/16 * 1rem);
          margin: 0;
          margin-top: calc(32/16 * 1rem);
          /* prevents padding from adding to the width */
          box-sizing: border-box;
          padding: 0 calc(24/16 * 1rem);
          color: #fff;
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;

          &:before {
              content: "";
              width: 0%;
              height: 100%;
              background: #000;
              opacity: 1;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              transition: width 0.3s;
          }

          &:hover {
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-button-solid {
          margin: 0;
          display: inline-block;
          order: 2;
      }

      .cs-text {
          max-width: calc(640/16 * 1rem);
          margin-bottom: calc(24/16 * 1rem);
          position: relative;
          z-index: 1;
      }

      .cs-ul {
          max-width: calc(630/16 * 1rem);
          margin: 0 0 calc(32/16 * 1rem) 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: calc(12/16 * 1rem);
      }

      .cs-li {
          font-size: var(--bodyFontSize);
          list-style: none;
          line-height: 1.5em;
          width: 100%;
          color: var(--bodyTextColor);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: calc(8/16 * 1rem);
      }

      .cs-check-icon {
          width: calc(24/16 * 1rem);
          height: auto;
          /* adds extra space between the icon and top of parent so it's more centered */
          margin-top: 1px;
          display: block;
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-content-1792 {
      .cs-content {
          text-align: left;
          max-width: calc(1280/16 * 1rem);
          height: auto;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          gap: calc(48/16 * 1rem);
          columns: 2;
      }

      .cs-flex-wrapper {
          width: 40vw;
          display: block;
          /* prevents flexbox from squishing it */
          flex: none;
      }

      .cs-ul {
          margin: 0;
      }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #cs-content-1792 {
      .cs-ul {
          flex-direction: row;
          flex-wrap: wrap;
      }

      .cs-li {
          width: 48%;
      }
  }
}
                              
/*-- -------------------------- -->
<---         CS-Content         -->
<--- -------------------------- -*/

/* you can place this CSS group in your global stylesheet that is loaded on every page of the site so all you need to do is copy and paste the HTML into any section and it will all work. Or piece it inside the media queries in whatever section you want to add it to. You can also remove the cs-topper, cs-title, and cs-text and if they aren't already in your global stylesheet you can paste them outside these media queries so all cs-topper, cs-title, and cs-text on your site will pull from 1 place. */

/* Mobile */
@media only screen and (min-width: 0rem) {
  #cs-content-829 {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      padding: 2rem 2rem 2rem 2rem;

      .cs-title {
          max-width: 20ch;
      }

      .cs-text {
          max-width: calc(504 / 16 * 1rem);

          &:before {
              /* divider line */
              content: "";
              width: calc(125 / 16 * 1rem);
              height: 3px;
              margin-bottom: calc(16 / 16 * 1rem);
              background: var(--primary);
              opacity: 1;
              display: block;
              position: relative;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-content-829 {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .cs-flex {
          width: 50%;
          max-width: calc(550 / 16 * 1rem);
          flex: none;
      }

      .cs-topper,
      .cs-title {
          text-align: right;
      }

      .cs-title {
          margin: 0;
      }

      .cs-text {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &:before {
              width: 3px;
              height: calc(125 / 16 * 1rem);
              /* 24px - 28px */
              margin: 0 clamp(1.5rem, 3vw, 1.75rem);
              /* prevents flexbox from squishing it */
              flex: none;
          }
      }
  }
}
                                                           

/*# sourceMappingURL=service.css.map */

/*# sourceMappingURL=about.css.map */
